* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'digital_dream_fat';
    src: url('/midia/fontes/digital-dream/digitaldreamfat-webfont.woff2') format('woff2'),
         url('/midia/fontes/digital-dream/digitaldreamfat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EEF9BF;
}

.relogio {
    margin: 20px;
    padding: 5px 4px;
    width: 176px;
    height: 56px;
    border: 5px solid rgb(172, 172, 172);
    box-shadow: 2px 2px 5px rgb(15, 15, 15);
    background-color: #000000;
    font-family: 'digital_dream_fat';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    color: rgb(255, 0, 0);
    position: absolute;
    top: 0px;
    right: 0px;
}

.titulo {
    width: 85%;
    margin: 40px auto;
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    text-align: center;
}

ul {
    list-style-type: none;
    width: 906px;
    margin: 28px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    width: 117px;
    height: 146px;
    background-color: #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    transform-style: preserve-3d;
}

li img {
    width: 100px;
    height: 100px;
    transition: all 0s;
}

li:hover {
    cursor: pointer;
}

.frente {
    display: none;
}

.verso {
    display: flex;
}

.virado {
    transform: rotateY(180deg)
}

.virado .frente {
    display: flex;
    transform: rotateY(-180deg)
}

.virado .verso {
    display: none;
}

.correto .frente {
    display: flex;
}

.correto .verso {
    display: none;
}

.correto:hover {
    cursor: auto;
}

.congelar-site {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px;
    }

    ul {
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    li {
        margin: 17px 0;
    }
    
    .relogio {
        margin: 0;
        padding: 6px 5.5px;
        width: 96px;
        height: 36px;
        border: 3px solid rgb(172, 172, 172);
        font-family: "digital_dream_fat";
        font-size: 20px;
        position: fixed;
    }
}